USE [iCareDB]
GO
ALTER TABLE [dbo].[TB_REFERENCIA_CUIDADOR] DROP CONSTRAINT [FK_TB_REFERENCIA_CUIDADOR_TB_CUIDADOR]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TB_CUIDADOR] DROP CONSTRAINT [DF_TB_CUIDADOR_DT_CADASTRO]
GO
/****** Object:  Table [dbo].[TB_REFERENCIA_CUIDADOR]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[TB_REFERENCIA_CUIDADOR]
GO
/****** Object:  Table [dbo].[TB_CUIDADOR]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[TB_CUIDADOR]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23/09/2019 22:21:21 ******/
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CUIDADOR]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CUIDADOR](
	[ID_CUIDADOR] [int] IDENTITY(1,1) NOT NULL,
	[NM_CUIDADOR] [varchar](100) NOT NULL,
	[NM_ENDERECO] [varchar](100) NOT NULL,
	[NU_DDD] [int] NOT NULL,
	[NM_TELEFONE] [varchar](50) NOT NULL,
	[FL_REFERENCIA] [bit] NOT NULL,
	[DS_RESTRICOES] [varchar](500) NULL,
	[IMAGEM_CUIDADOR] [varbinary](max) NULL,
	[DT_CADASTRO] [datetime] NULL,
 CONSTRAINT [PK_TB_CUIDADOR] PRIMARY KEY CLUSTERED 
(
	[ID_CUIDADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_REFERENCIA_CUIDADOR]    Script Date: 23/09/2019 22:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REFERENCIA_CUIDADOR](
	[ID_REFERENCIA] [int] IDENTITY(1,1) NOT NULL,
	[NM_REFERENCIA] [varchar](250) NOT NULL,
	[NM_CONTATO_REFERENCIA1] [varchar](250) NOT NULL,
	[ID_CUIDADOR] [int] NOT NULL,
 CONSTRAINT [PK_TB_REFERENCIA_CUIDADOR] PRIMARY KEY CLUSTERED 
(
	[ID_REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e42ec394-8525-423e-a180-9508391fc1fb', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'e42ec394-8525-423e-a180-9508391fc1fb', N'fabricio@icare.com', 0, N'AF7KePU3I/2WeFTL4LwABt43ZlAf7GyCwGzOk7cFPG25pdSK6uCRSze/g1QYZUEgOA==', N'dda026c8-eeee-44d5-ae7e-6f1657d32428', NULL, 0, 0, NULL, 1, 0, N'fabricio@icare.com')
SET IDENTITY_INSERT [dbo].[TB_CUIDADOR] ON 

SET IDENTITY_INSERT [dbo].[TB_CUIDADOR] OFF
SET IDENTITY_INSERT [dbo].[TB_REFERENCIA_CUIDADOR] ON 

INSERT [dbo].[TB_REFERENCIA_CUIDADOR] ([ID_REFERENCIA], [NM_REFERENCIA], [NM_CONTATO_REFERENCIA1], [ID_CUIDADOR]) VALUES (8, N'Dona Clotilde', N'1122334455', 15)
INSERT [dbo].[TB_REFERENCIA_CUIDADOR] ([ID_REFERENCIA], [NM_REFERENCIA], [NM_CONTATO_REFERENCIA1], [ID_CUIDADOR]) VALUES (9, N'Dona Maria', N'11 2334-5445', 16)
SET IDENTITY_INSERT [dbo].[TB_REFERENCIA_CUIDADOR] OFF
ALTER TABLE [dbo].[TB_CUIDADOR] ADD  CONSTRAINT [DF_TB_CUIDADOR_DT_CADASTRO]  DEFAULT (getdate()) FOR [DT_CADASTRO]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TB_REFERENCIA_CUIDADOR]  WITH CHECK ADD  CONSTRAINT [FK_TB_REFERENCIA_CUIDADOR_TB_CUIDADOR] FOREIGN KEY([ID_CUIDADOR])
REFERENCES [dbo].[TB_CUIDADOR] ([ID_CUIDADOR])
GO
ALTER TABLE [dbo].[TB_REFERENCIA_CUIDADOR] CHECK CONSTRAINT [FK_TB_REFERENCIA_CUIDADOR_TB_CUIDADOR]
GO
